{% extends 'modal-base.html.twig' %}

{% do script(['libs/jquery-validation.js', 'app/category/modal.js']) %}

{% block title %}
  {% if category.id %}
    编辑分类
  {% else %}
    新增分类
  {% endif %}
{% endblock %}

{% block body %}
  
  <form id="category-form" class="form-horizontal"
        action="{% if category.id %}{{ path('goods_category_edit', {id:category.id}) }}{% else %}{{ path('goods_category_create') }}{% endif %}"
        method="post">
    
    <div class="form-group">
      <label class="col-md-2 control-label" for="category-name">名称<span class="text-danger">&nbsp;*</span></label>
      <div class="col-md-9">
        <input class="form-control" id="category-name" type="text" name="name" value="{{ category.name }}">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="category-seq">显示序号<span class="text-danger">&nbsp;*</span></label>
      <div class="col-md-9">
        <input class="form-control" id="category-seq" type="text" name="seq" value="{{ category.seq }}">
        <div class="help-block">显示序号需为整数，分类按序号的顺序从大到小排序。</div>
      </div>
    </div>
    
    <input type="hidden" name="group_code" value="{{ category.group_code }}">
    <input type="hidden" name="parent_id" value="{{ category.parent_id }}">
    {{ form_csrf_token() }}
  </form>

{% endblock %}

{% block footer %}
  <a type="button" class="btn btn-link btn-sm" data-dismiss="modal">取消</a>
  <a id="category-create-btn" class="btn btn-primary btn-sm" data-toggle="form-submit"
     data-target="#category-form" data-loading-text="正在提交">
    保存
  </a>
{% endblock %}