{% extends 'modal-base.html.twig' %}

{% do script(['app/stock-todo/index.js']) %}

{% block title %}
    待处理列表
{% endblock %}

{% block body %}

{% if todos %}
  <table id="goods-table" class="table table-striped table-hover" style="word-break:break-all;">
    <thead>
      <tr>
        <th width="10%">类别</th>
        <th width="10%">图片</th>
        <th width="40%">名称</th>
        <th width="20%">分类</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in todos %}
      <tr>
        {% set goods = goods_list[todo.target_id] %}
        {% set category = categories[goods.category_id] %}
        <td>{{ dict('group_code',goods.group_code) }}</td>
        <td><img src="{{ filepath(goods.small_picture) }}" style="height:25px"></td>
        <td>{{ goods.name }}</td>
        <td>{{ category.name }}</td>
        <td>
          <a href="javascript:;" class="btn btn-default btn-sm" data-toggle="item-delete" data-url="{{ path('stock_todo_delete', {id: todo.id}) }}">
            <i class="glyphicon glyphicon-trash"></i> 删除
          </a>
        </td>
      </tr>
      {% endfor %}
    <tbody>
  </table>

{% else %}
  <div class="empty">暂无数据</div>
{% endif %}

{% endblock %}

{% block footer %}
{% if todos %}
  <a class="btn btn-primary btn-sm" data-url="{{ path('stock_record_create', {'type': 'in'}) }}" data-role="in" data-toggle="record-create">
    <i class="fa fa-sign-in"></i> 入库
  </a>
  <a class="btn btn-primary btn-sm" data-url="{{ path('stock_record_create', {'type': 'out'}) }}" data-role="out" data-toggle="record-create">
    <i class="fa fa-sign-out"></i> 出库
  </a>
  <a class="btn btn-info btn-sm" data-url="{{ path('stock_record_create', {'type': 'gain'}) }}" data-role="gain" data-toggle="record-create">
    <i class="fa fa-plus"></i> 报溢
  </a>
  <a class="btn btn-info btn-sm" data-url="{{ path('stock_record_create', {'type': 'loss'}) }}" data-role="loss" data-toggle="record-create">
    <i class="fa fa-minus"></i> 报损
  </a>
  <a class="btn btn-success btn-sm" data-url="{{ path('stock_record_create', {'type': 'check'}) }}" data-role="check" data-toggle="record-create">
    <i class="fa fa-refresh"></i> 盘点
  </a>
{% endif %}
{% endblock %}