{% extends 'AppBundle::layout.html.twig' %}
{% block title %}产品管理 - {{ parent() }}{% endblock %}

{% set main_nav = 'stock_manage' %}
{% set sub_nav = 'goods_group_product' %}

{% do css(['libs/select2.css', 'libs/jquery-fancybox.css']) %}
{% do script(['libs/select2.js', 'libs/jquery-fancybox.js', 'app/goods/product.js',]) %}

{% block header %}

{% endblock %}

{% block box_title %}产品管理{% endblock %}

{% block box_tools %}
  <a data-url="{{ path('goods_create', {'group_code': group_code}) }}" class="btn btn-primary btn-sm" data-role="add" data-toggle="modal" data-target="#modal">
    <i class="glyphicon glyphicon-plus"></i> 新增产品
  </a>
  <a class="btn btn-danger btn-sm" data-toggle="item-batch-delete" data-url="{{ path('goods_batch_delete') }}">
    <i class="glyphicon glyphicon-trash"></i> 批量删除
  </a>
  <a class="btn btn-default btn-sm" href="{{ path('goods_trash', {groupCode:group_code}) }}">
    <i class="glyphicon glyphicon-trash"></i> 产品回收站
  </a>
{% endblock %}

{% block box_body %}
<div class="row mbm">
  <div class="col-md-12">
    <form id="goods-search-form" class="form-inline" method="get">
      <div class="form-group">
        <input class="form-control input-sm" name="name" type="text" value="{{ app.request.get('name') }}" placeholder="产品名称">
      </div>
      <div class="form-group">
        <select class="form-control input-sm" name="category_id">
          {{ select_options(data('category_choices', {group_code: group_code, owner_id: app.user.getParentId()}), app.request.query.get('category_id'), '全部分类') }}
        </select>
      </div>
      <div class="form-group">
        <input id="provider-id" class="form-control input-sm" type="text" name="provider_id" value="{{ app.request.get('provider_id') }}" placeholder="搜索供应商" data-url="{{ path('user_ajax_search', {type: 'provider'}) }}" style="width:150px">
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-sm" type="submit">
          <i class="glyphicon glyphicon-search"></i> 搜索
        </button>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table id="goods-table" class="table table-striped table-hover" style="word-break:break-all;">
      <thead>
        <tr>
          <th width="5%"><a href="javascript:;" class="check-all">全选</a></th>
          <th width="5%">图片</th>
          <th width="8%">产品名称</th>
          <th width="5%">分类</th>
          <th width="6%">供应商</th>
          <th width="6%">加盟商</th>
          <th width="5%">规格</th>
          <th width="5%">单位</th>
          <th width="6%">零售价</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {% set owner_id = app.user.getParentId() %}
        {% for goods in goods_list %}
        <tr>
          {% set category = categories[goods.category_id] %}
          {% set provider = providers[goods.provider_id] %}
          {% set alias = aliases[goods.owner_id] %}
          <td><input type="checkbox" name="id[]" value={{ goods.id }} data-name="{{ goods.name }}"></td>
          <td><a href="{{ filepath(goods.large_picture) }}" class="fancybox"><img src="{{ filepath(goods.small_picture) }}" style="height:25px"></a></td>
          <td><a href="javascript:;" data-url="{{ path('goods_show' , {id:goods.id}) }}" data-role="edit" data-toggle="modal" data-target="#modal">{{ goods.name }}</a> </td>
          <td>{{ category.name }}</td>
          <td>{{ provider.nickname }}</td>
          <td>{{ alias.nickname }}</td>
          <td>{{ goods.spec }}</td>
          <td>{{ goods.unit }}</td>
          <td>{{ goods.sale_price }}</td>
          <td width="15%">
            {% if goods.id in existed_goods_ids %}
              <a href="javascript:;" class="btn btn-default btn-sm disabled">
                <i class="glyphicon glyphicon-ok"></i>
                <span>已入库</span>
              </a>
            {% else %}
              <a class="btn btn-default btn-sm" data-url="{{ path('stock_create',{goods_id:goods.id}) }}" data-role="stock-create" data-toggle="modal" data-target="#modal">
                <i class="glyphicon glyphicon-plus"></i> 加入库存
              </a>
            {% endif %}
            {% if owner_id == goods.owner_id %}
              <a href="javascript:;" class="btn btn-default btn-sm" data-url="{{ path('goods_edit' , {id:goods.id}) }}" data-role="edit" data-toggle="modal" data-target="#modal">
                <i class="glyphicon glyphicon-edit"></i> 编辑
              </a>
              <a href="javascript:;" class="btn btn-default btn-sm" data-toggle="item-delete" data-name="{{ goods.name }}" data-url="{{ path('goods_delete', {id:goods.id}) }}">
                <i class="glyphicon glyphicon-trash"></i> 删除
              </a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        {% if goods_list is empty %}
          <tr><td colspan="10" class="row empty">暂无产品记录</td></tr>
        {% endif %}
      <tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block box_footer %}{{ app_macro.table_paginator(paginator) }}{% endblock %}